.blogContent{
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.blogHeading {
  text-align: center;
  margin-bottom: 1vmax;
}
.blogHeading h3 {

  font: 600 2vmax "Roboto";

}

.blogContent-inside{
  width: 20vmax;
}
.blog-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-height: 200px; /* Adjust the maximum height of the image */

}

.blogContent-inside h4 {
  margin-top: 10px;
  width: 100%;
  color: #333333;
}


.blogButton {
  text-align: center;
  margin-top: 20px;
}

.blogButton button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.blogButton button:hover {
  background-color: #0056b3;
}
